<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %> </title>
</head>

<body>
    <h1><%= product.name %> </h1>
    <ul>
        <li>ID: <%= product._id %></li>
        <li>NAME: <%= product.name %></li>
        <li>PRICE: $<%= product.price %></li>
        <li>CATEGORY: <%= product.category %></li>
    </ul>

</body>

</html>