<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= name %></title>
    <link rel="stylesheet" href="/app.css">
</head>

<body>
    <h1>You are browsing the <%= name %> subreddit</h1>
    <h2><%= description %> </h2>
    <p>Total Subscribers is: <%= subscribers %> </p>
    <% for (let post of posts){ %>
    <p> <%= post.title %> <b>by <%= post.author%></b></p>
    <%  if(post.img){ %>
    <img src="<%= post.img %> " alt="">
    <%}%> 
    <% } %>



</body>

</html>