<%- include('partials/head')%>


<%- include('partials/navbar')%>

<h1>You are browsing the <%= name %> subreddit</h1>
<h2><%= description %> </h2>
<p>Total Subscribers is: <%= subscribers %> </p>
<% for (let post of posts){ %>
<p> <%= post.title %> <b>by <%= post.author%></b></p>
<%  if(post.img){ %>
<img src="<%= post.img %> " alt="">
<%}%> 
    <% } %>


<%- include('partials/footer')%>