<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= farm.name %> </title>
</head>

<body>
    <h1> <%= farm.name %> </h1>
    <ul>
        <li>CITY: <%= farm.city %> </li>
        <li>EMAIL: <%= farm.email %> </li>
    </ul>
    <h2>Products</h2>
    <ul>
        <% for( let product of farm.products) { %>
        <li><a href="/products/<%= product._id %>"><%= product.name %></a></li>
        <% } %>
    </ul>
    <a href="/farms/<%= farm._id %>/products/new">Add Product</a>
    <a href="/farms">GO BACK TO ALL FARM</a>
    <form method="post" action="/farms/<%= farm._id %>?_method=DELETE">
        <button>Delete</button>
    </form>
</body>

</html>