<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= farm.name %> </title>
</head>

<body>
    <h1><%= farm.name %> </h1>
    <ul>
        <li>ID: <%= farm._id %></li>
        <li>NAME: <%= farm.name %></li>
        <li>CITY: <%= farm.city%></li>
        <li>EMAIL: <%= farm.email %> </li>
    </ul>
    <a href="/farms"><button>GO BACK TO ALL FARM</button></a>

</body>

</html>