<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> EDIT <%= product.name %> </title>
    <style>
        form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1em;
        }

        button {
            margin-top: 1em;
        }
    </style>
</head>

<body>
    <h1>EDIT <%= product.name %></h1>
    <form action="/products/<%= product._id %>?_method=PUT " method="post">
        <div>
            <label for="name">PRODUCT NAME:</label>
            <input type="text" name="name" placeholder="Product Name" id="name" value="<%= product.name %>" required>
        </div>
        <div>
            <label for="price">PRODUCT PRICE:</label>
            <input type="number" name="price" placeholder="Product Price" id="price" value="<%= product.price %>"
                required>
        </div>
        <div>
            <label for=" category">PRODUCT CATEGORY:</label>

            <select name="category" id="category" required>
                <% for (let category of categories){ %>
                <option value="<%= category %>" <%= product.category === category ? 'selected' : ''  %>>
                    <%= category.toUpperCase()%> </option>
                <% } %>
            </select>
        </div>
        <button type="submit">SUBMIT</button>

    </form>

    <a class="cancel" href="/products/<%= product._id %>"><button>CANCEL</button></a>


</body>

</html>
<!-- TANGENT ON CATEGORY SELECTOR
    ===============================
    I applied a logic that will automatically check 
    If product.category is a particular option,
    It will automatically selected.
    I used TENERY operator to check if is product category is equal to the option.
    If it is, it will be selected.
    If not, it will not be selected.
    => EJS ON OPTIONS=> product.category === 'fruit' ? 'selected' : ''     
    I USE A LOOP TO CHECK IF THE OPTION IS EQUAL TO THE PRODUCT CATEGORY
    AND AN ARRAY TO HOLD THE CATEGORIES IN MY INDEX
-->